[submodule "parsers/rust"]
	path = parsers/rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "parsers/ocaml"]
	path = parsers/ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml.git
[submodule "parsers/dart"]
	path = parsers/dart
	url = https://github.com/UserNobody14/tree-sitter-dart.git
[submodule "parsers/javascript"]
	path = parsers/js
	url = git@github.com:tree-sitter/tree-sitter-javascript.git
