[submodule "parsers/rust"]
	path = parsers/rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "parsers/ocaml"]
	path = parsers/ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml.git
